@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-title: "MuseoModerno", monospace;

  --color-light: #f7f7f7;
  --color-dark: #121212;
  --color-brand-primary: #5b2caa;

  --shadow-card: 0px 12px 18px #01032988;
}

* {
  scroll-behavior: smooth;
}

.bg-glass {
  background-image: linear-gradient(to bottom right, #fff2, #fff4);
  border: 2px solid #fff3;
  backdrop-filter: blur(20px);
}

.p-main {
  padding: 48px 64px;
}

.bg-space {
  background-image: linear-gradient(
    to right,
    #010329 0%,
    #5b2caa 46%,
    #5b2caa 55%,
    #010329 100%
  );
}

section {
  position: relative;
  z-index: 10;
}

.transition-planet {
  transition: transform 0.1s;
  will-change: transform;
  animation: oscilating 10s ease-in-out infinite;
}

@keyframes oscilating {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px 30px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes lightPulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.15;
  }
}
