---
import CustomGrid from "layouts/CustomGrid.astro";
import Layout from "layouts/Layout.astro";
---

<Layout title="Descargar | Museósfera">
  <CustomGrid>
    <section class="col-span-12 h-screen bg-purple-950"></section>
  </CustomGrid>
</Layout>
