---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CustomGrid from "../layouts/CustomGrid.astro";
import Planets from "components/Planets.astro";
---

<Layout title="Museósfera | Física Interactiva">
  <Planets />
  <CustomGrid>
    <section
      class="relative bg-[url(/img/space-skybox.jpg)] bg-no-repeat col-span-12 w-full h-screen grid place-content-center overflow-hidden"
      style={{ backgroundSize: "130% 130%" }}
      id="heroSection"
    >
      <!--  <img
        src="/img/space-skybox.jpg"
        id="starrySky"
        alt="Fondo de cielo estrellado"
        class="object-cover w-[180vw] h-[130vh] absolute inset-0 m-auto pointer-events-none"
      /> -->
      <div class="relative flex flex-col items-center gap-40 w-full max-w-4xl">
        <div
          class="flex flex-col gap-0 items-center text-center"
          id="heroTitle"
        >
          <img src="/logo.svg" alt="Logo de Museósfera" class="w-full" />
          <p class="text-stone-100 text-4xl">Física Interactiva</p>
        </div>

        <div class="flex relative z-10 flex-col gap-4 items-center">
          <a
            role="button"
            href="/jugar"
            class="text-center px-8 py-4 rounded-full border border-stone-100/50 bg-gradient-to-br from-purple-500/90 to-sky-400 text-stone-100 font-sans font-bold min-w-64"
          >
            ¡Jugar ahora!</a
          >
          <a
            href="/Museosfera.apk"
            download="Museosfera Android.apk"
            class="text-center px-10 py-3 rounded-full border-2 border-stone-100/50 bg-gradient-to-br from-purple-500/10 to-sky-400/20 text-stone-100 font-sans font-bold min-w-32 w-fit"
          >
            Descargar</a
          >
        </div>
      </div>
    </section>
    <!--     <section class="col-span-12 h-[40vh] bg-stone-950" id="exploreSection">
    </section> -->
  </CustomGrid>
</Layout>

<style>
  #heroTitle {
    animation: glowTitle 2s infinite ease-in-out alternate;
  }

  @keyframes glowTitle {
    0% {
      filter: drop-shadow(10px 10px 30px #f7f7f733);
    }
    100% {
      filter: drop-shadow(10px 10px 30px #f7f7f7ff);
    }
  }

  button,
  a[role="button"] {
    transition:
      transform 0.3s,
      filter 0.3s;
  }
  button:hover,
  a[role="button"]:hover {
    transform: scale(1.1);
    filter: brightness(1.15);
  }
  button:active,
  a[role="button"]:active {
    transform: scale(0.9);
    filter: brightness(0.85);
  }
</style>
