<!-- ABOUT -->
<section id="aboutSection" class="flex gap-10 p-main items-center">
  <div class="flex flex-col items-start gap-2 flex-1 justify-center">
    <h2 class="font-title font-bold leading-snug text-5xl">
      ¿Qué es Museósfera?
    </h2>
    <p class="font-normal text-light/60 leading-snug text-lg">
      Museósfera es un museo virtual interactivo que gamifica el aprendizaje de
      la física, explorando desde principios básicos hasta temas más avanzados a
      través de simulaciones envolventes y personalizables en 3D.
    </p>
  </div>

  <div
    class="border-4 border-light/60 rounded-3xl shadow-card flex-1 aspect-video overflow-hidden"
  >
    <iframe
      class="w-full h-full"
      src="https://www.youtube.com/embed/EH9meoWmAOM?si=RivrRdX04vuP2vYx"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</section>
