<!-- REVIEWS -->
<section id="reviewsSection" class="p-main flex flex-col gap-10 items-center">
  <h2 class="font-title font-bold text-4xl">Testimonios</h2>

  <article class="flex justify-center gap-6 w-full">
    <div
      class="bg-glass shadow-card rounded-3xl p-4 flex flex-col items-center gap-4 max-w-sm min-w-[320px]"
    >
      <div class="flex items-center gap-0 flex-col">
        <h6 class="font-title text-2xl font-semibold">Alex Johnson</h6>
        <p class="text-light/60 font-medium">Docente Universitario</p>
      </div>

      <p class="font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div
      class="bg-glass shadow-card rounded-3xl p-4 flex flex-col items-center gap-4 max-w-sm min-w-[320px]"
    >
      <div class="flex items-center gap-0 flex-col">
        <h6 class="font-title text-2xl font-semibold">Alex Johnson</h6>
        <p class="text-light/60 font-medium">Docente Universitario</p>
      </div>

      <p class="font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div
      class="bg-glass shadow-card rounded-3xl p-4 flex flex-col items-center gap-4 max-w-sm min-w-[320px]"
    >
      <div class="flex items-center gap-0 flex-col">
        <h6 class="font-title text-2xl font-semibold">Alex Johnson</h6>
        <p class="text-light/60 font-medium">Docente Universitario</p>
      </div>

      <p class="font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
  </article>
</section>
