<!-- FOOTER -->
<footer class="p-main bg-gradient-to-br relative from-[#190E4B] to-[#010329] flex max-md:flex-col max-md:gap-14">
  <div class="flex-1 flex flex-col items-start gap-2">
    <h6 class="text-lg font-bold">Museósfera - 2025</h6>
    <p class="max-w-[50ch] text-light/60 font-medium">
      Explora el fascinante mundo de la física desde la comodidad de tu hogar.
      Sumérgete en experiencias interactivas y aprende sobre los principios
      fundamentales que rigen el universo.
    </p>

    <a
      href="https://instagram.com/sandroj2"
      target="_blank"
      class="flex gap-2 items-center mt-4"
    >
      <i class="ti ti-brand-instagram text-3xl"></i>
      <span class="underline">Visitar en Instagram</span>
    </a>
  </div>
  <div class="flex-1 flex justify-end items-end">
    <p class="font-normal text-light/60">
      Desarrollado por <a
        href="https://sandrobeltran.vercel.app"
        target="_blank"
        class="underline font-bold text-light">Sandro Beltrán</a
      >
    </p>
  </div>
</footer>
