<div class="w-full h-screen absolute top-0 left-0 z-10 pointer-events-none overflow-hidden">
    <img src="/img/planets/01.png" alt="Planeta 01" class="hero-planet absolute left-[-10%] h-3/4 bottom-[-25%]">
    <img src="/img/planets/03.png" alt="Planeta 03" class="hero-planet blur-xl absolute left-[-10%] h-1/3 top-[-7%]">
    <img src="/img/planets/02.png" alt="Planeta 02" class="hero-planet blur-sm absolute right-[-5%] h-1/4 top-[-5%]">
    <img src="/img/planets/04.png" alt="Planeta 04" class="hero-planet blur-md absolute right-[15%] h-1/4 bottom-[-5%]">
    <img src="/img/planets/04.png" alt="Planeta 05" class="hero-planet blur-xl saturate-0 absolute right-[-9%] h-1/4 bottom-[25%]">
</div>