---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Explora el fascinante mundo de la física desde la comodidad de tu hogar. Sumérgete en experiencias interactivas y aprende sobre los principios fundamentales que rigen el universo."
    />
    <meta
      name="keywords"
      content="museo de física, física virtual, ciencia, educación, experimentos virtuales, aprendizaje interactivo"
    />
    <meta name="author" content="SBeloper" />
    <meta name="robots" content="index, jugar" />
    <link rel="
      icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />

    <script>
      const heroSection = document.getElementById("heroSection");
      const planets = document.querySelectorAll(".hero-planet");
      const heroTitle = document.getElementById("heroTitle");

      function convertRange(
        value: number,
        oldRange: { min: number; max: number },
        newRange: { min: number; max: number }
      ) {
        return (
          ((value - oldRange.min) * (newRange.max - newRange.min)) /
            (oldRange.max - oldRange.min) +
          newRange.min
        );
      }

      window.addEventListener("mousemove", (e) => {
        let mouseX = e.clientX;
        let mouseY = e.clientY;
        const heroSectionFactor = 10;
        const planetFactor = 5;
        const heroTitleFactor = 8;
        const heroTitleSkewFactor = 80;

        let x = convertRange(
          mouseX,
          { min: 0, max: window.innerWidth },
          { min: 60, max: -60 }
        );
        let y = convertRange(
          mouseY,
          { min: 0, max: window.innerHeight },
          { min: 60, max: -60 }
        );

        if (heroSection) {
          heroSection!.style.backgroundPosition = `${50 - x / heroSectionFactor}% ${50 - y / heroSectionFactor}%`;
        }

        if (planets.length) {
          planets.forEach((planet, index) => {
            let factor = planetFactor * (index + 0.4);

            (planet as HTMLElement).style.transform =
              `translate(${x / factor}px, ${y / factor}px)`;
          });
        }

        if (heroTitle) {
          heroTitle!.style.transform = `translate(${x / heroTitleFactor}px, ${y / heroTitleFactor}px) skew(${x / heroTitleSkewFactor}deg, ${y / heroTitleSkewFactor}deg) 
          `;
        }
      });
    </script>
  </body>
</html>

<style is:global>
  html {
    min-height: 100vh;
  }
  body {
    font-family: "Poppins", sans-serif;
  }

  a {
    cursor: pointer;
  }

  * {
    scroll-behavior: smooth;
  }
</style>
